html,
body {
  padding: 0;
  margin: 0;
  font-family: url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');
   
    text-align: center;
    

}

a {
  color: inherit;
  text-decoration: none;
  
}

* {
  box-sizing: border-box;

}
img{
  height: 250px;
  width: 250px;
  border:5px solid #712b2b;
  padding: 10px;
  padding-top:10px;
  box-shadow: 5px 5px 5px black;
  margin-left: 26px;
  margin-right: auto;
  margin-top:35px;
  
}
  
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    padding-bottom: 50px;

  }
  body {
    color: black;
    background: linear-gradient(to right,#df8f8f, #d7c5c5);;
    
  }
}
