.profile img{
    height: 250px;
    width: 250px;
    border:5px solid #712b2b;
    padding: 10px;
    padding-top:10px;
    box-shadow: 5px 5px 5px black;
    margin-left: 26px;
    margin-right: auto;
    margin-top:35px;
  }